body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.left {
    display:      inline;
    float:        left;
    margin-left:  10px;
    margin-right: 10px;
    width:        20%;
}
.right{
    display:      inline;
    float:        left;
    margin-left:  10px;
    margin-right: 10px;
    width:        60%;
}
.top {
    border-bottom: thick solid rgb(11, 112, 178);
}
.left {
    margin:5px;
    border-right: thin solid gray;
}
.filter {
    margin:10px;
    border-bottom: thin solid rgb(218, 218, 218);
}
