<!DOCTYPE html>
<html ng-app="myApp">
<head>
   <title>Filters</title>

   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script type="text/javascript" src="./javascripts/angularApp.js"></script>
</head>
<body>
   <div ng-controller="MyCtrl">
      <div>
         <div class="top">
            Search: <input name="company" type="text" class="search-input" ng-model="query"/>
         </div>

         <section class="left" style="border-right:1px">
            <div class="filter">
               LOCATION
               <div>
                  <div ng-repeat="locations in locationsGroup">
                     <b><input type="checkbox" ng-model="useLocations[locations]"/>{{locations}}</b>
                  </div>
               </div>
            </div>

            <div class="filter">
               SEASON
               <div>
                  <div ng-repeat="seasons in seasonsGroup">
                     <b><input type="checkbox" ng-model="useSeasons[seasons]"/>{{seasons}}</b>
                  </div>
               </div>
            </div>

            <div class="filter">
               DURATION
               <div>
                  <div ng-repeat="durations in durationsGroup">
                     <b><input type="checkbox" ng-model="useDurations[durations]"/>{{durations}}</b>
                  </div>
               </div>
            </div>

            <div class="filter">
               TAG
               <div>
                  <div ng-repeat="tags in tagsGroup">
                     <b><input type="checkbox" ng-model="useTags[tags]"/>{{tags}}</b>
                  </div>
               </div>
            </div>


         </section>
         <section class="right" style="border-right:1px">
            <div>
               <ul>
                  <li ng-repeat="place in filteredPlaces | filter:query" >
                     <p><b>Place: {{place.name}}</b></p>
                     <p>{{place.location}}<br>{{place.season}}<br>{{place.tag}}<br>{{place.duration}}</p>
                  </li>
               </ul>
            </div>
         </div>
      </section>
   </div>

</body>
</html>
